.groceryList_header {
    padding-bottom: 1rem;
}

.groceryList_actionBtns {
    margin-left: auto;
    padding-right: 0.5rem;
}

.groceryList_actionBtns:first-child {
    margin-right: 1rem;
}

.groceryList_actionBtn {
    width: 10rem;
}
